{% extends 'base.html' %}

{% block content %}
    <p>Template: <strong>mobile/index.html</strong></p>
    <p>
        request.MOBILE:
        <strong>{% if request.MOBILE %}True{% else %}False{% endif %}</strong>
    </p>

    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
    <div>
        <h1>完整demo</h1>
        <textarea id="content" class="ckeditor"></textarea>
    </div>
    <script type="text/javascript">
        CKEDITOR.replace('content', {
            filebrowserUploadUrl: '/ckupload/',
        });
    </script>
{% endblock %}